---
import Layout from "../layouts/Layout.astro";
import { Dashboard } from "../components/Dashboard.jsx";
---

<Layout title="Salud Metro">
  <main>
    <Dashboard client:load />
  </main>
</Layout>
